@model Ecommerce_Website.Models.Customer
<div class="container-fluid px-4">
    <h2 class="mt-4 text-center text-uppercase" style="letter-spacing: 4px">Customer Details</h2>
</div>
<div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-8">
        <img src="@("~/customer_images/"+Model.customer_image)" asp-append-version="true" width="250px" height="250px" class="my-3" />
        <ul class="list-group">
            <li class="list-group-item">Customer ID: @Model.customer_id</li>
            <li class="list-group-item">Customer Name: @Model.customer_name</li>
            <li class="list-group-item">Customer Phone: @Model.customer_phone</li>
            <li class="list-group-item">Customer Email: @Model.customer_email</li>
            <li class="list-group-item">Customer Password: @Model.customer_password</li>
            <li class="list-group-item">Customer gender: @Model.customer_gender</li>
            <li class="list-group-item">Customer country: @Model.customer_country</li>
            <li class="list-group-item">Customer city: @Model.customer_city</li>
            <li class="list-group-item">Customer address: @Model.customer_address</li>
        </ul>
    </div>
    <div class="col-md-2"></div>
</div>