@model Ecommerce_Website.Models.Feedback
<div class="container-fluid px-4">
    <h2 class="mt-4 text-center text-uppercase text-danger" style="letter-spacing: 4px">Are you sure you want to delete this Feedback?</h2>
</div>
<div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-8">
        <ul class="list-group">
            <li class="list-group-item">Feedback Id: @Model.feedback_id</li>
            <li class="list-group-item">Feedback Name: @Model.user_name</li>
            <li class="list-group-item">Feedback Message: @Model.user_message</li>


        </ul>
        <a href="@Url.Action("deleteFeedback", "Admin",new{id=Model.feedback_id})" class="btn btn-danger">Delete Product</a>
        <a href="@Url.Action("fetchFeedback", "Admin")" class="btn btn-warning">Back to List </a>

    </div>
    <div class="col-md-2"></div>
</div>